*{
	box-sizing: border-box;
}

html,body{
	margin: 0;
	padding: 20px;
	
}

.flex-container {
  display: flex;
  justify-content: center;
  }

#game {
	position: relative;
	top: 50px;
	width: 411px;
	background: #31b7e8;
	border-radius: 4px;
}

.block{
	display: block;
	margin:2px;
	color:#bfbfbf;
	width: 133px;
	height: 133px;
	float: left;
	background: #fff;
	text-align: center;
	line-height: 133px;
	font-size:35px;
	transition:all ease .3s;
}
.block:hover{
	cursor: pointer;
	background: #eee;
}

.flex-container-nav{
	display: flex;
	position: relative;
	top:80px;
	justify-content: center;
}
#result-form{
	display: inline;
	float:left;
	height: 50px;
	width: 200px;
	color:#fff;
	position: relative;
	left: 10px;
	background: #eee;
	color:gray;
	text-align: center;
	line-height: 50px;
}
#btn{
	background: #31b7e8;
	border-radius: 3px;
	color:#fff;
	border:none;
	width: 100px;
	height: 50px;
	cursor: pointer;
}